* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.sort {
    display: flex;
    text-align: center;
    gap: 15px;
    margin: 30px 0 0 40px;
}

.sort .search {
    width: 360px;
    border-radius: 5px;
    background: rgba(253, 244, 244, 0.6);
}

body {
    background: url(../classwork/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    max-width: 1510px;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px;
    text-align: center;
    margin-top: 60px;
    transform: rotate(-10deg);
}

.forma {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: end;
}

.todo {
    width: 480px;
    border-radius: 5px;
    transform: rotate(5deg)
}

.forma input {
    width: 480px;
    background: rgba(253, 244, 244, 0.6);
    border-radius: 5px;
    height: 42px;
}

.forma .description {
    padding: 5px;
    height: 140px;
    background: rgba(253, 244, 244, 0.6);
    border-radius: 5px;
}

.forma label {
    display: flex;
    font-size: 30px;
    color: #EC7979;
}

button {
    border-radius: 5px;
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    background-color: #EC7979;
    height: 42px;
    width: 135px;
    cursor: pointer;
}